h3{
    font-weight: 600;
    font-size: 14px;
}
.main{
    background-color: rgb(245, 246, 246);
}
.card-body {
    background-color: rgb(245, 246, 246);
}
.ca{
    background-color: rgb(245, 246, 246);
}
.bv{
    background-color:black;
    margin-top: 60px;
    margin-left: 60px;
}
.a{
    font-weight: bold;
}
.ma{
    margin-left: 55px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 100px;


}