<div class="container-fluid main">
    <div class="container">
        <div style="margin-left:65px">
            <h2>Acrylic Wall Photo</h2>
            <h5>Home / Customise / Acrylic Name Plate</h5>
        </div>
        <div class="row">
            <div class="col-sm-11 m-auto">
                <div class="card-group">
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="assets/images/name.png" class="card-img-top" alt="...">
                        </div>
                        <div class="text-center ca">
                            <h3>Ganesa Acrylic Designer Name Plate
                            </h3>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="assets/images/birds.png" class="card-img-top" alt="...">
                        </div>
                        <div class=" text-center ca">
                            <h3>Birds Acrylic Designer Name Plate
                            </h3>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="assets/images/design.png" class="card-img-top" alt="...">
                        </div>
                        <div class="text-center ca">
                            <h3>Owl Design Acrylic Designer Name Plate</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" mt-5 ma">
            <h1>Custom Acrylic Name Plates Online in India</h1>
            <p>A name plate is of utmost importance in Indian cultures. It identifies people and the house they own.
                Having a home to come back to is a privilege not everyone has, and this calls for respecting our
                achievements. You can do so by designing a name plate for your house and printing it on a luxurious
                alternative to traditional wooden or metal name plates, <span class="a">premium quality Acrylic Name
                    Plate </span>
                for the
                house. With hundreds of designer templates, OMGs brings to you a vast collection of acrylic name plates
                for your sweet home. From elegant and colorful templates to designs with religious motifs, we have it
                all. Start browsing on our website to find your best match. Changing the style this time, try our <span
                    class="a">
                    custom
                    acrylic name plates online</span> only in India. <span class="a"> Acrylic glass </span> is light,
                shatterproof, and resistant to
                temperature fluctuations. These qualities make it perfect for a name print that is mounted outside the
                house and has to endure the weather and occasional ball hits from your neighbor’s kids. When mounted,
                the qualities of the printed text are amplified under glossy acrylic glass, highlighting the vibrant
                color and giving the sensation of depth. The printing is done via high-tech UV printers that directly
                print on the acrylic for a realistic view. The colors are enhanced and fonts are clearer on the glossy
                acrylic name plate. You can simply use the double-sided tape on the back of the name plate which is
                provided to you with your order and stick your name plate on your desired wall. Get your hands on our
                <span class="a">ready to mount acrylic name plates</span> with customization options.
            </p>
            <h1>
                Customize your acrylic name plate with us
            </h1>
            <p>
                At <span class="a">OMGs</span> you have complete control over everything from the image you wish to
                print to the size of the
                frame. However, we can help you edit your desired print so that you get elegant and radiant acrylic name
                plate designs. Start by browsing through the various designs of acrylic name plates on our website. When
                you find the one, hold onto it and decide what you want to be written on your name plate. The house
                number (if any) comes first but you can choose to name your house, maybe after your surname. The stylish
                acrylic name plate will stand out with its style but your name on the acrylic will really help the
                mailman to identify your house. <span class="a">Add text message</span> to your print, if any. Select a
                size for your acrylic
                photo print from a range of options available in our store. You will be able to see the total price of
                your item after completing the process. You can then proceed to place your order. <span class="a"> Buy
                    acrylic name plate
                    online</span> with us and enjoy the benefits of custom-made stylized items.</p>
            <h1>Orientation and size</h1>
            <p> The <span class="a">acrylic name plates for the wall</span> are available in different sizes on our
                website. There are many
                designs in portrait as well as landscape orientation. The orientation for each design is pre-decided
                considering the print of the acrylic. However, there are two size options for both portrait and
                landscape designs. The available sizes in inches are 12x8 and 18x12. All of our acrylic name plates are
                printed on a 3 mm thick acrylic sheet to ensure they are lightweight and easily portable.
            </p>
            <h1>Shipping and Delivery details</h1>
            <p>
                OMGs can reach anywhere throughout the country, and our fastest delivery partners will deliver your
                order to you in 3-10 days. Please provide us with complete address information, so we can ensure that
                your item arrives on time. Before we begin printing and packing, we must first process payment for all
                orders. Every order qualifies for free delivery with pre-payment and comes with a free photo holder from
                us. On our order page, you'll find discount codes and special offers.</p>
            <h1>FAQs</h1>
            <li class="a">What is an acrylic name plate?</li>
            <p>
                The acrylic name plate is a new type of printed name plate on an acrylic sheet. It gives the name plate
                a glass finish without using any glass. Acrylic prints are non-breakable. Your desired text is directly
                printed on acrylic and sealed.</p>

            <li class="a">How can I order to print my name and address on acrylic?</li>
            <p>
                You can simply head on to our website choose an acrylic name plate design and fill in the details you
                want to be printed. Customizations are available for size. Insert your delivery information and pay
                online to complete your order with us.</p>
            <li class="a">What are your delivery charges?</li>
            <p>
                There is no additional cost for delivery. You will be charged for your order of acrylic name plate only.
                Charges may differ depending on the size of the print and the thickness of the frame.
            </p>
            <li class="a">Where can I ask for advice before placing my order?</li>
            <p>
                Our customer support team is available to offer assistance throughout the day. You can call us at +91
                9653941887 or email us at support@omgs.in
            </p>
            <li class="a">What is the production and delivery time for acrylic photos?</li>
            <p>
                Your orders are sent into printing as soon as you place your order. The package is dispatched within a
                day and will reach you in 3-10 days.</p>
        </div>
        
    </div>
    <div class="row" style="background-color: rgb(29, 28, 28);color:white;">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 mt-5">
            <h2>NEED HELP?</h2>
            <img src="assets/images/logo.png" height="50px" width="50px"><br>&nbsp;
            <h5>Email:support@omgs.in</h5>
            &nbsp;
            <h5>NEED HELP?</h5>
            &nbsp;
            <h5>Bulk Enquery/Reseller</h5>

        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2 mt-5">
            <h2>Quick Lines</h2>
            <h3>Term&cobditions</h3>
            <hr>
            <h3>privacy policy</h3>
            <hr>
            <h3>Refund or Retutn policy</h3>
            <hr>
            <h3>Track Your Order</h3>
            <hr>
            <h3>Contact Us</h3>
            <hr>
            <h3>Blog</h3>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 mt-5">
            <h2>WE PRINT AND SHIP FROM ❤️ INDIA </h2>
            <hr>
            <h3>We Ship from</h3><br>
            <p>294A, Heera Nagar A, Ajmer Road,
                Jaipur, 302021, Rajasthan</p>
            <hr>
            <p>Shed NO. C-1 ANNEX,
                KSSIDC Industrial Area,
                Yelahanka, (Opp. Rail Wheel Factory)
                Bengaluru-560064. KARNATAKA</p>
            <img src="assets/images/omg.png" height="35px">
        </div>
    </div>
    <div class="row" style="background-color: black;padding:20px;">
        <div class="col-sm-6 ">
            <p style="color: #fcfcfd;">copyright 2016-2023copy OMGs.in</p>
        </div>
        <div class="col-sm-6">
            <img src="">
        </div>
    </div>
</div>
