<div class="container-fluid main">
    <div class="container mt-4 ">
        <div class="row">
            <div>
                <h5 class="text-center">Home / Premium Acrylic Photo</h5>
            </div>
            <div>
                <h1 class="text-center">Transparent Framed OMGs® Acrylic Photo | Home Decor</h1>
            </div>
            <div class="container wall">
                <div class="row">
                    <div class="col-sm-8 m-auto p-4">
                        <div class="card photocard bg-pic">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="text-center mb-0 p-0">Frame Color</h3>
            </div>
            <div class="row rr">
                <div class="col-sm-4 m-auto d-flex p-4">
                    <div class="box2 m-2"></div>
                    <div class="box3 m-2"></div>
                    <div class="box4 m-2"></div>
                    <div class="box5 m-2"></div>
                </div>
            </div>
            <h6 class="text-center">Note: Larger size acrylic border will show smaller in preview.</h6>
            <div class="row ">
                <div class="col-sm-6 m-auto text-center mb-2">
                    <button class="btn btn fw-bold bn"><i class="bi bi-zoom-in p-3"></i>Zoom</button>
                    <button class="btn btn fw-bold bn bb"><i class="bi bi-upload p-3"></i>Select photo</button>
                    <button class="btn btn fw-bold bn"><i class="bi bi-highlighter p-3"></i>Text</button>
                </div>
                <div class="text-center p-1 fs-7">
                    <h6>By uploading an image you agree to our Terms of Service.</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 m-auto">
                    <div class="">
                        <div class="card-header">
                            <p class="text-center fw-bold ">Your Photo Quality: <span
                                    class="text text-success">good</span> (12x9)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-6 m-auto">
                    <div class="">
                        <div class="row">
                            <div class="col-sm-3 fw-bold p-4">
                                <p class="p-1 mt-2">Size(Inch)</p>
                            </div>
                            <div class="col-sm-9">
                                <div class="card-body">
                                    <button class="btn btn-sm p-1 m-2 b">12x9</button>
                                    <button class="btn btn-sm p-1 m-2 b">11x11</button>
                                    <button class="btn  btn-sm m-2">16x12</button>
                                    <button class="btn  btn-sm m-2"> 18x12</button>
                                    <button class="btn  btn-sm m-2">16x16</button>
                                    <button class="btn  btn-sm m-2"> 21x15</button>
                                    <button class="btn  btn-sm m-2"> 30x20</button>
                                    <button class="btn  btn-sm m-2"> 35x23</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6 m-auto">
                    <div class="">
                        <div class="row">
                            <div class="col-sm-3 fw-bold p-2">
                                <p class="p-1 mt-1">Thickness(mm)</p>
                            </div>
                            <div class="col-sm-9">
                                <div class="card-body">
                                    <button class="btn btn-secondary p-1 m-2 b">3MM</button>
                                    <button class="p-1 m-2 b">5MM</button>
                                    <button class="p-1 m-2 b">8MM PREMIUM</button>
                                    <h5> Selected size (12x9),(3mm)Ship with Adhesive Tape </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="ma">
            <div class="fw-bold text-center">
                <h1>₹999 <del>₹1,199</del></h1>
                <h5>
                    <span class="ba">Only </span> <span class="ca">8 Acrylic's</span> <span class="ba"> left!</span>
                </h5>
                <i> Current Processing Time 6 hours</i>
                <div class="row">
                    <div class="col-sm-5 m-auto ">
                        <button class="btn btn-success btn-block w-100 ac"> BUY IT NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>