<div class="row g-0 sticky-top">
    <div class="col-sm-2">
        <button class="btn btn btn-outline-dark rounded-5 mt-3 ms-4"> <i class="bi bi-list">MENU</i></button>
    </div>
    <div class="col-sm-8">
        <img src="assets/images/download.png" width="200" height="40" style="margin-left: 300px;margin-top: 20px;">
    </div>
    <div class="col-sm-2">
        <p style="margin-left:90px;margin-top: 30px;">cart/&#8377;0 <i class="bi bi-bag"></i>
            <button class="btn btn btn-outline-dark rounded-5 mt-1 ms-2">login</button>
        </p>
    </div>
</div>
<div class="row g-0 i1 ">
    <div class="card" style="width: 30rem;height:15rem;margin-top: 500px;margin-left:1000px;">
        <div class="card-body">
            <h5 class="card-title">OMGS® ACRYLIC PHOTO
                SUPERIOR QUALITY</h5>
            <p class="card-text">Experience the brilliance and vibrancy of our acrylic prints, expertly crafted to
                bring your images to life. Create a captivating visual display that truly reflects your style and
                creates a lasting impression.</p>
            <button class="btn btn btn-outline-danger rounded-5 mt-2 ms-2">Shop now</button>
        </div>
    </div>
</div>
<div class="row g-0 i2">
    <div class="card" style="width: 20rem;height:12rem;margin-top: 550px;margin-left: 950px;">
        <div class="card-body">
            <h5 class="card-title">OMGS® ACRYLIC PHOTO
                SUPERIOR QUALITY</h5>
            <p class="card-text">OMGS® ACRYLIC CUTOUTS
                The Beloved’s Essence</p>
            <button class="btn btn btn-outline-danger rounded-5 mt-2 ms-2">Shop now</button>
        </div>
    </div>
</div>
<div class="row g-0 i3">
    <div class="card" style="width:23rem;height:20rem;margin-top: 300px;margin-left: 1000px;">
        <div class="card-body">
            <h5 class="card-title"> ACRYLIC DESK
                LONG LASTING MASTERPIECE</h5>
            <p class="card-text">
                Experience the brilliance and vibrancy of our acrylic prints, expertly crafted to bring your images
                to life. Create a captivating visual display that truly reflects your style and creates a lasting
                impression.</p>
            <button class="btn btn btn-outline-danger rounded-5 mt-2 ms-2">Shop now</button>
        </div>
    </div>
</div>
<div class="row g-0 i4">
    <div class="card" style="width: 20rem;height:20rem;margin-top: 100px;margin-left: 1000px;">
        <div class="card-body">
            <h5 class="card-title">OMGS® ACRYLIC PHOTO
                SUPERIOR QUALITY</h5>
            <p class="card-text">Experience the brilliance and vibrancy of our acrylic prints, expertly crafted to
                bring your images to life. Create a captivating visual display that truly reflects your style and
                creates a lasting impression.</p>
            <button class="btn btn btn-outline-danger rounded-5 mt-2 ms-2">Shop now</button>
        </div>
    </div>
</div>
<div class="row g-0 i5">
    <div class="card" style="width: 30rem;height:15rem;margin-top: 700px;margin-left: 900px;">
        <div class="card-body">
            <h5 class="card-title">OMGS® ACRYLIC PHOTO
                SUPERIOR QUALITY</h5>
            <p class="card-text">Experience the brilliance and vibrancy of our acrylic prints, expertly crafted to
                bring your images to life. Create a captivating visual display that truly reflects your style and
                creates a lasting impression.</p>
            <button class="btn btn btn-outline-danger rounded-5 mt-2 ms-2">Shop now</button>
        </div>
    </div>
</div>
<div class="row g-0 i6">
    <div class="card" style="width: 30rem;height:15rem;margin-top: 100px;margin-left: 30px;">
        <div class="card-body">
            <h5 class="card-title">OMGS® ACRYLIC PHOTO
                SUPERIOR QUALITY</h5>
            <p class="card-text">OMGS® ACRYLIC CLOCK
                Timeless Memories
                Experience the brilliance and vibrancy of our acrylic prints, expertly crafted to bring your images
                to life. Create a captivating visual display that truly reflects your style and creates a lasting
                impression.
            </p>
            <button class="btn btn btn-outline-danger rounded-5 mt-2 ms-2">Shop now</button>
        </div>
    </div>
</div><br><br>
<div class="row g-0">
    <div class="row" style="background-color:#525255 ;height:1200px;">
        <div class="col-sm-2">
        </div>
        <div class="col-8">
            <h1 style="margin-top: 60px;">Experience Sparkling Perfection</h1>
            <p style="margin-top:30px;"> In today’s digital age, capturing memories has become effortless. We take
                countless photos with our
                smartphones and cameras, preserving precious moments in digital form. But what if you could elevate
                those memories and turn them into stunning pieces of art that you can proudly display on your walls?
                This is where acrylic photo prints come into play, offering a unique and captivating way to showcase
                your most cherished images.</p>
        </div>
        <div class="row">
            <div class="col-sm-11 m-auto">
                <div class="card-group">
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/omg1.webp" class="card-img-top" alt="...">
                        </div>
                        <div class="text-center ca">
                            <h3>Customised Premium OMGs® Acrylic Picture
                            </h3>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/omg2.gif" class="card-img-top" alt="...">
                        </div>
                        <div class=" text-center ca">
                            <h3>Square Acrylic Photos
                            </h3>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/omg3.webp" class="card-img-top" alt="...">
                        </div>
                        <div class="text-center ca">
                            <h3>Best Acrylic Wall Photo Designs</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11 m-auto">
                <div class="card-group">
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/omg4.webp" class="card-img-top" alt="...">
                        </div>
                        <div class="text-center ca">
                            <h3>Customised Premium OMGs® Acrylic Picture
                            </h3>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/omg5.webp" class="card-img-top" alt="...">
                        </div>
                        <div class=" text-center ca">
                            <h3>Square Acrylic Photos
                            </h3>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/omg6.webp" class="card-img-top" alt="...">
                        </div>
                        <div class="text-center ca">
                            <h3>Best Acrylic Wall Photo Designs</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>
<div class="row" style="height:400px">
    <div class="col-2">
    </div>
    <div class="col-8">
        <h1 style="margin-top: 60px;">PERSONALIZE YOUR SPACE</h1>
        <p style="margin-top:30px;">Define your style with a personally designed product from our store. It is time to
            change the trend and elevate your style quotient. With our customization tools, you can design your own
            products. From selecting the picture for printing to adding personal messages on phone covers, we give you
            the opportunity to personalize your order to the last inch.</p>
        <p style="margin-top:30px;">It’s never been easier to shop online from the comfort of your own home. Trends may
            be brought to your home with a few simple actions. Begin by selecting your phone model, since this will
            direct you to the appropriate template. After that, upload the photo you wish to be printed on the back of
            your phone case. Try out a few different backgrounds and pick your favorite. To complete the customization,
            add text, emoticons, quotes, and so on. Examine your completed work and place your order by entering your
            information. That wraps up the shopping</p>
        <p>
            Acrylic photo prints in landscape, portrait, square-shaped orientations. Our innovative UV printing
            technology distinguishes us as the top online retailer for acrylic photo prints in India. UV printing is a
            sort of digital printing that uses ultraviolet (UV) light to almost rapidly dry or cure the ink, adhesives,
            and varnishes once they’ve been put to the paper. Your image is printed directly under the acrylic layer to
            give it a bright and sparkling appearance. With our designing tool, it only takes a few clicks to order your
            customized product. We will take care of the rest!
        </p>
    </div>
</div>
<div class="row" style="background-color:#17202A;height:400px">
    <div class="col-2">
    </div>
    <div class="col-8">
        <h1 style="margin-top: 60px;color: azure;">Why choose OMGS®</h1>
        <p style="margin-top:30px;color:azure;">Whether it’s photo paper, photo frames, matting-free picture
            frames, or photo canvas, OMGs the premier photo printing service, only uses materials from carefully
            selected partners to ensure the greatest quality. Our staff in our online photo lab handles each
            step, from order to production, with the highest care.</p>
        <p style="margin-top:30px;color:azure;">We ensure that your orders are delivered to your home as quickly
            as possible thanks to our
            nationwide presence. We’ve worked with some of India’s leading courier service companies, including
            Bluedart and Delhivery, to ensure that your items arrive on time. The average delivery time for
            metro cities is 1-3 days, while delivery time for smaller locations might range from 3 to 7 days
            following dispatch. More than 10000 evaluations and recommendations attest to OMGs photo goods’
            perfect quality. You can find these in our reviews section where our ever-increasing family narrates
            their experience.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-3">
    </div>

    <div style="padding-top: 20px;">
        <table width="100%" style="padding-top: 20px;">
            <td>
                <hr />
            </td>
            <td style="width:1px; padding: 0 10px; white-space: nowrap;">
                <h4>FREQUENTLY ASKED QUESTIONS</h4>
            </td>
            <td>
                <hr />
            </td>
        </table>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">

            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    1.What methods do you offer?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We offer all modes of online payment such as credit card, debit
                    card, net banking, phone pe, Gpay, UPI, Paytm via Razorpay.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    2.How much does delivery cost?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">There is no minimum amount required to avail of free shipping on
                    your order. We offer free shipping on all orders made through our website.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    3.Do i have gift wrap options?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Yes. you have the option to get your order gift wrapped if you
                    are buying it for someone else. There is a 50 rupees extra charge for gift wrapping
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    4.what kind of canvas do you use?
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We source from the best producers to provide you with premium
                    quality prints. Our partners are one of the best in the country.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    5.what finish does your acrylic product have?
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Acrylic photo prints come with a gloss finish that looks exactly
                    like q glass. However, acrylic is scratch-resistant and does not break like glass.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
        <div>
            <table width="100%" style="padding-top: 20px;">
                <td>
                    <hr />
                </td>
                <td style="width:1px; padding: 0 10px; white-space: nowrap;">
                    <h4>OUR BLOG </h4>
                </td>
                <td>
                    <hr />
                </td>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-3 mt-5">
        <div class="card" style="width: 20rem;">
            <img src="../../assets/images/blog1.webp" class="img" alt="...">
            <div class="card-body">
                <button class="btn btn btn-outline-dark blog">blog</button>
                <h2 class="card-title">Transform your hall with these print ideas </h2>
                <p class="card-text">A hall is often the easily selected space in any household even when it
                    is used by all family members. [...]</p>
            </div>
        </div>
    </div>
    <div class="col-3 mt-5">
        <div class="card" style="width: 20rem;">
            <img src="../../assets/images/blog2.webp" class="img" alt="...">
            <div class="card-body cb">
                <button class="btn btn btn-outline-dark blog">blog</button>
                <h2 class="card-title">Transform your hall with these print ideas </h2>
                <p class="card-text">A hall is often the easily selected space in any household even when it
                    is used by all family members. [...]</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mt-5">
        <div class="card" style="width: 20rem;">
            <img src="../../assets/images/blog3.webp" class="img" alt="...">
            <div class="card-body">
                <button class="btn btn btn-outline-dark blog">blog</button>
                <h2 class="card-title">5 Masterpiece You can print for free </h2>
                <p class="card-text">When it comes to printing famous art, or images on any medium to decorate
                    your house you can find many [...]</p>
            </div>
        </div>
    </div>
</div>
<div class="row g-0" style="background-color: #17202A;margin-top: 50px;">
    <div class="col-2">
    </div>
    <div class="col-6">
        <h2 style="margin-top: 70px;margin-bottom: 10px;color:azure;"> OUR INSTAGRAM FEED</h2>
        <div>
            <table width="100%" style="padding-top: 20px;color:azure;">
                <td>
                    <hr />
                </td>
                <td style="width:1px; padding: 0 10px; white-space: nowrap;">
                </td>
                <td>
                    <hr />
                </td>
            </table>
        </div>
    </div>
</div>

<div class="row g-0" style="background-color: #041220;">
    <div class="col-sm-12 p-4 ">
        <img src="../../assets/images/main1.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main2.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main3.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main4.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main5.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main6.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main7.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main8.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main9.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main10.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main1.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main2.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main3.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main4.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main5.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main6.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main7.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main8.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main9.jpg" style="width:300px;height:300px;">
        <img src="../../assets/images/main10.jpg" style="width:300px;height:300px;">
    </div>
</div>

<div class="row" style="background-color: rgb(29, 28, 28);color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-2 mt-5">
        <h2>NEED HELP?</h2>
        <img src="assets/images/logo.png" height="50px" width="50px"><br>&nbsp;
        <h5>Email:support@omgs.in</h5>
        &nbsp;
        <h5>NEED HELP?</h5>
        &nbsp;
        <h5>Bulk Enquery/Reseller</h5>

    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2 mt-5">
        <h2>Quick Lines</h2>
        <h3>Term&cobditions</h3>
        <hr>
        <h3>privacy policy</h3>
        <hr>
        <h3>Refund or Retutn policy</h3>
        <hr>
        <h3>Track Your Order</h3>
        <hr>
        <h3>Contact Us</h3>
        <hr>
        <h3>Blog</h3>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3 mt-5">
        <h2>WE PRINT AND SHIP FROM ❤️ INDIA </h2>
        <hr>
        <h3>We Ship from</h3><br>
        <p>294A, Heera Nagar A, Ajmer Road,
            Jaipur, 302021, Rajasthan</p>
        <hr>
        <p>Shed NO. C-1 ANNEX,
            KSSIDC Industrial Area,
            Yelahanka, (Opp. Rail Wheel Factory)
            Bengaluru-560064. KARNATAKA</p>
        <img src="assets/images/omg.png" height="35px">
    </div>
</div>
<div class="row" style="background-color: black;padding:20px;">
    <div class="col-sm-6 ">
        <p style="color: #fcfcfd;">copyright 2016-2023copy OMGs.in</p>
    </div>
    <div class="col-sm-6">
        <img src="">


    </div>
</div>