
.cbg1{
background-color: #373c42;
}
.bg2{
    background: url("../../assets/images/mainimg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background: rgb(189, 150, 150);
    
}
.bg3{
    background: url("../../assets/images/mainimg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background: rgb(148, 69, 69);
    
}
.bg4{
    background: url("../../assets/images/mainimg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background: rgb(89, 44, 44);
    
}
.bg5{
    background: url("../../assets/images/mainimg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background: rgb(101, 44, 44);
    
}
.bg6{
    background: url("../../assets/images/mainimg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background: rgb(197, 63, 63);
    
}
.c1{
    margin-top: 100px;
    padding: 20px;

}
.c2{
    margin-top: 25px;
    padding: 20px; 
}
.c3{
    margin-top: 25px;
    padding: 20px;
}
.c4{
    margin-top: 25px;
    padding: 20px;
}
.c5{
    margin-top: 25px;
    padding: 20px;
}
.c6{
    margin-top: 25px;
    padding: 20px;
}
.name{
    color: white;
    font-size: 2rem;
    line-height: 1;
}
.para{
    color: white;
margin-top: 0;
}
.imag{
    height:350px;
    width: auto;
}
.tag{
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
}

.cb{
    font-weight: 400;
}
.img{
    padding: 25px;
    border-style: none;
    border: 0;
}
.blog{
font-size: .6em;
margin-bottom: 0.1em;
margin-top: 0.1em;
}
.box-image img {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}