.main {
    background-color: #f0efef;
}

.wall {
    background: url('../../assets/images/wall-c.webp');
    background-repeat: no-repeat;
}

.upload-icon {
    font-size: 100px;
    text-align: center;
    padding-top: 150px;
}


.square {
    height: 40px;
    width: 40px;
    background-color: tan;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: tan;
    border-radius: 50%;
}

.hexogonal {
    height: 40px;
    width: 40px;
    background-color: tan;
    border-radius: 25%;
}

.rectangle {
    height: 40px;
    width: 40px;
    background-color: tan;

}

.heart {
    position: relative;
    width: 50px;
    height: 40px;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: tan;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.diamond-shield {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 20px solid red;
    position: relative;
    top: -50px;
}

.diamond-shield:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 20px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid red;
}

.bb {
    background-color: orangered;
    cursor: pointer;
}

.ab {
    color: purple;
}

.ma {
    border-bottom: 1px dotted black;
}

.ba {
    color: green;
}

.ca {
    color: red;
}

.sa {
    color: green;
}

.a {
    font-weight: bold;
}

.b {
    border: 1px solid rgb(63, 59, 59);
}

.ac {
    background-color: green;
}

.drag-image {
    border: 1px dashed #fff;
    height: 350px;
    width: 100%;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0efef;
}

.drag-image.active {
    border: 2px solid #fff;
}

.drag-image .icon {
    font-size: 30px;
    color: #fff;
}

.drag-image h6 {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.drag-image span {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-image button {
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.drag-image button:hover {
    background-color: #fff;
    color: red;
}

.image {
    height: 350px;
    width: 600px;
}

input[type="file"] {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.upload {
    font-size: 100px;
    color: black;
    cursor: pointer;

}