.main {
    background-color: #f0efef;
}

.wall {
    background: url('../../assets/images/wall-c.webp');
    background-repeat: no-repeat;
}

.bg-pic {
    background: url('../../assets/images/car/transp.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 70%;
}

.photocard {
    height: 700px;
}

.box2 {
    width: 50px;
    height: 50px;
    border: 3px solid red;
}

.box3 {
    width: 25px;
    height: 25px;
    border: 3px solid grey;
}

.box4 {
    width: 25px;
    height: 25px;
    border: 3px solid yellow;
}

.box5 {
    width: 25px;
    height: 25px;
    border: 3px solid red;
}

.b {
    border: 1px solid rgb(63, 59, 59);
    margin-right: 5px;
}

.ca {
    color: red;
}

.ba {
    color: green;
}

.bb {
    background-color: orangered;
}

.ac {
    background-color: green;
}

.ma {
    border-bottom: 1px dotted black;
}

.drag-image {
    border: 1px dashed #fff;
    height: 350px;
    width: 600px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-image.active {
    border: 2px solid #fff;
}

.drag-image .icon {
    font-size: 30px;
    color: #fff;
}

.drag-image h6 {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.drag-image span {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-image button {
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.drag-image button:hover {
    background-color: #fff;
    color: red;
}

.image {
    height: 350px;
    width: 600px;
}

input[type="file"] {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.upload {
    font-size: 100px;
    color: black;
    cursor: pointer;

}