.wall {
    background: url('../../assets/images/wall-c.webp');
    background-repeat: no-repeat;
}
.photocard {
    height: 600px;
}
.ca {
    color: red;
}
.ba {
    color: green;
}
.bb {
    background-color: orangered;
}
.ac {
    background-color: green;
}
.ma {
    border-bottom: 1px dotted black;
}
