<div class="container-fluid main">
    <div class="container">
        <div class="bb">
            <h2>Acrylic Wall Photo</h2>
            <h5>Home <span class="fw-bold">/ Customise / Acrylic Wall Photo</span></h5>
        </div>
        <div class="row">
            <div class="col-sm-11 m-auto">
                <div class="card-group">
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/name.png" class="card-img-top" alt="...">
                        </div>
                        <div class="text-center ca">
                            <h3>Ganesa Acrylic Designer Name Plate
                            </h3>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/birds.png" class="card-img-top" alt="...">
                        </div>
                        <div class=" text-center ca">
                            <h3>Birds Acrylic Designer Name Plate
                            </h3>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/design.png" class="card-img-top" alt="...">
                        </div>
                        <div class="text-center ca">
                            <h3>Owl Design Acrylic Designer Name Plate</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>