.main {
    background-color: #f0efef;
}

.wall {
    background: url('../../assets/images/wall-c.webp');
    background-repeat: no-repeat;
}

.bg-pic {
    background: url('../../assets/images/edit.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 70%;
}

.photocard {
    height: 400px;
}

.shape1 {
    height: 28px;
    width: 40px;
    background-color: rgb(197, 157, 83);
}

.shape2 {
    height: 28px;
    width: 40px;
    background-color: rgb(197, 157, 83);
    border-radius: 50%;
}

.shape3 {
    display: block;
    height: 28px;
    width: 40px;
    background-color: rgb(197, 157, 83);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.bb{
    background-color: orangered;
}
.ab {
    color: purple;
}


.ma {
    border-bottom: 1px dotted black;
}

.ba {
    color: green;
}

.ca {
    color: red;
}

.sa {
    color: green;
}

.ac {
    background-color: green;
}

.b {
    border: 1px solid rgb(63, 59, 59);
}
.p5{
    font-size: larger;
 font-family:    SF Pro Text, Roboto, Helvetica Neue,Helvetica,Arial,sans-serif;
}
.p6{
    font-size: xx-large;
}
.p7{
    font-size: large;
    font-family: SF Pro Text, Roboto, Helvetica Neue,Helvetica,Arial,sans-serif;
}
.p8{
    font-size: medium;
    font-family:  SF Pro Text, Roboto, Helvetica Neue,Helvetica,Arial,sans-serif;
}

.f1{
    font-family: Roboto, sans-serif;
}
.f2{
    font-family: SF Pro Text, Roboto, Helvetica Neue,Helvetica,Arial,sans-serif;;
}
#clockContainer {
	position: relative;
	margin: auto;
	height: 40vw;
	/*to make the height and width responsive*/
	width: 40vw;
    /*setting our background image*/
	background-size: 100%;
}

#hour,
#minute,
#second {
	position: absolute;
	background: black;
	border-radius: 10px;
	transform-origin: bottom;
}

#hour {
	width: 1.8%;
	height: 20%;
	top: 25%;
	left: 48.85%;
	opacity: 0.8;
}

#minute {
	width: 1.6%;
	height: 25%;
	top: 19%;
	left: 48.9%;
	opacity: 0.8;
}

#second {
	width: 1%;
	height: 35%;
	top: 9%;
	left: 49.25%;
	opacity: 0.8;
}