<div class="container-fluid main">
    <div class="container mt-4 ">
        <div class="row">
            <div>
                <h3 class="text-center">Home / Wall Clocks</h3>
            </div>
            <div>
                <h1 class="text-center">Customised Premium OMGs® Acrylic Wall Clock 2.0</h1>
            </div>
            <div class="container wall">
                <div class="row">
                    <div class="col-sm-8 m-auto p-4">
                        <div class="card photocard bg-pic">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center p-1 fs-7">
                <p>By uploading an image you agree to our Terms of Service.</p>
            </div>
            <div class="row">
                <div class="col-sm-7 m-auto">
                    <button class="btn btn fw-bold">Change background</button>
                    <button class="btn btn fw-bold"><i class="bi bi-zoom-in p-2"></i>Zoom</button>
                    <button class="btn btn fw-bold bb"><i class="bi bi-upload p-2"></i>Select photo</button>
                    <button class="btn btn fw-bold"><i class="bi bi-highlighter p-2"></i>Text</button>
                    <button class="btn btn fw-bold">How?</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 m-auto">
                    <div class="card">
                        <div class="card-header">
                            <p class="text-center fw-bold fs-6 mb-0 pb-0">Available Shapes</p>
                        </div>
                        <!-- <div class="card-body text-center ">
                <div class="row">
                  <div class="col">
                    <div class="shape1"></div>
                  </div>
                  <div class="col">
                    <div class="shape2"></div>
                  </div>
                  <div class="col">
                    <div class="shape3"></div>
                  </div>
                  <div class="col">
                    <div class="shape4"></div>
                  </div>
                  <div class="col">
                    <div class="shape5"></div>
                  </div>
                </div>
              </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 m-auto">
                    <div class="card">
                        <div class="">
                            <p class="text-center ">photo quality for is <span
                                    class="text text-success ca">Good</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row ">
                <div class="col-sm-6 m-auto">
                    <div class="">
                        <div class="row">
                            <div class="col-sm-2 fw-bold ">
                                <p class="p-0 mt-4">Size(Inch)</p>
                            </div>
                            <div class="col-sm-9">
                                <div class="card-body">
                                    <button class="p-1 m-2 b">11x11</button>
                                    <button class="p-1 m-2 b">16x16</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="ma">
            <div class="fw-bold text-center">
                <h1>₹999 <del>₹1,799</del></h1>
                <h4>
                    <span class="ba">Only </span> <span class="ca">6 Clocks's</span> <span class="ba"> left!</span>
                </h4>
                <h5> Current Processing Time 3 hours</h5>
                <div class="row">
                    <div class="col-sm-5 m-auto ">
                        <button class="btn btn-success btn-block w-100 ac"> BUY IT NOW</button>
                    </div>
            </div>
        </div>
    </div>
</div>