<div class="container-fluid main">
    <div class="container">
        <div>
            <h2>Acrylic Wall Photo</h2>
            <h5>Home / Customise / Acrylic Wall Photo</h5>
        </div>
        <div class="row">
            <div class="col-sm-11 m-auto">
                <div class="card-group">
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/img1.png" class="card-img-top" alt="...">

                        </div>
                        <div class="text-center ca">
                            <h3>Customised Premium OMGs® Acrylic Picture
                            </h3>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/img2.png" class="card-img-top" alt="...">
                        </div>
                        <div class=" text-center ca">
                            <h3>Square Acrylic Photos
                            </h3>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="../../assets/images/img3.png" class="card-img-top" alt="...">
                        </div>
                        <div class="text-center ca">
                            <h3>Best Acrylic Wall Photo Designs</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>