<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar><i class="bi bi-house"></i>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="main">Premium Acrylic photo</a>
      <a mat-list-item routerLink="design">Acryilic Photo with Design</a>
      <a mat-list-item routerLink="clock">Acryilic Wall Clock</a>
      <a mat-list-item routerLink="transparent"> Acryilic Transparent Acrylic Photo</a>
      <a mat-list-item routerLink="wallphoto"> Acryilic Wall Photo</a>
      <a mat-list-item routerLink="">Acryilic Fridge Magnet</a>
      <a mat-list-item routerLink="">Acryilic Car Photo</a>
      <a mat-list-item routerLink="nameplate">Acrylic Name Plate</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="row p-1 m-0">
      <div class="col-sm-2">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon"><i class="bi bi-list"></i>menu</mat-icon>
        </button>
      </div>
      <div class="col-sm-8">
        <div class=" card-header text-center ma">
          <img src="../../assets/images/download.png" alt="" width="160" height="40">
        </div>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-secondary mt-2"><i class="bi bi-bag mt-2"></i>Cart/₹</button>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-light mt-2">Login</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>