.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: inherit;
}
.mn{
  font-size: 14px;
}
.img{
 width: 20px;
 height: 40px;
}
.ma{
  padding-top:20px;
  
}
  