<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar> <i class="bi bi-house"></i>Menu</mat-toolbar>
    <mat-nav-list>
      <hr>

      <a mat-list-item routerLink="main"> <span><img src="../../assets/images/menuimgs/m1.png" width="50" height="50"></span>
        Premium Acrylic photo</a>
      <hr>
      <a mat-list-item routerLink="design"><span><img src="../../assets/images/menuimgs/m2.png " width="50"
            height="50"></span>Acryilic Photo with Design</a>
      <hr>
      <a class="mn" mat-list-item routerLink="clock"><span><img src="../../assets/images/menuimgs/m3.png " width="50"
            height="50"></span>Acryilic Wall Clock</a>
      <hr>
      <a mat-list-item routerLink="transparent"><span><img src="../../assets/images/menuimgs/m4.png" width="50"
            height="50"></span> Acryilic Transparent Acrylic Photo</a>
      <hr>
      <a mat-list-item routerLink="wallphoto"><span><img src="../../assets/images/menuimgs/m5.png" width="50" height="50"></span>
        Acryilic Wall Photo</a>
      <hr>
      <a mat-list-item routerLink="magnet"><span><img src="../../assets/images/menuimgs/m6.png" width="50"
            height="50"></span>Acryilic
        Fridge Magnet</a>
      <hr>
      <a mat-list-item><span><img src="../../assets/images/menuimgs/m7.png" width="50" height="50"></span>Acryilic Car
        Photo</a>
      <hr>
      <a mat-list-item routerLink="nameplate"><span><img src="../../assets/images/menuimgs/m8.png" width="50"
            height="50"></span>Acrylic Name Plate</a>
      <hr>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="row p-1 m-0">
      <div class="col-sm-2">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon"><i class="bi bi-list"></i>menu</mat-icon>
        </button>
      </div>
      <div class="col-sm-7">
        <div class=" card-header text-center ma">
          <img src="../../assets/images/download.png" alt="" width="150" height="40">
        </div>
      </div>
      <div class="col-sm-2 text-end">
        <p>cart/&#x20B9;0<span><i class="bi bi-bag" style="font-size:25px;"></i>&nbsp;</span></p>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-outline-dark rounded-5" type="button mt-2">login</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>