<div class="container-fluid main ">
    <div class="row">
        <div class="text-center  p-3">
            <span class="c-title">Admin Login</span>
        </div>
        <div class="row">
            <div class="col-sm-8  m-auto">
                <div class="card loginpage logincard ">
                    <div class="row">
                        <div class="col-sm-6 p-4 m-4">
                            <h2 class=" text-center  text-white login">Admin Login</h2>
                            <form (ngSubmit)="login()">
                                <div class="mb-4">
                                    <label class="form-label fl">Username</label>
                                    <input type="text" class="form-control ip" name="username">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label fl">Password</label>
                                    <input type="password" class="form-control ip" name="password">
                                </div>
                                <div class="mt-4  ">
                                    <button type="submit" class="btn main-btn w-50">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>